/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page {
	margin: 2rem auto; //centering
	padding: 0 1rem;
	min-height: 100vh;
	.home-page__text-container {
		h1 {
			font-weight: 400;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: -0.2%;
		}
		p {
			font-size: 1rem;
			line-height: 1.5;
		}
	}
	.home-page__categories {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		flex-direction: column;
		.categories__category-card {
			background-color: #272d42;
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 1rem;
			flex-direction: column;
			border-radius: 1rem;
			padding: 20px;
			cursor: pointer;
			transition: all 0.3s linear; //transition for hover bgc smooth effect
			h2 {
				font-weight: 400;
				margin: 0;
				text-align: center;
				font-size: 1.25rem;
				line-height: 1.5rem;
			}
			p {
				color: rgba(255, 255, 255, 0.5);
				text-align: center;
				margin: 0;
				font-size: 0.875rem;
				line-height: 1.375rem;
			}
			&:hover {
				background-color: lighten(#272d42, 25%);
			}
		}
	}
}
//=============== tablets ======================
@media screen and (min-width: 496px) {
	#home-page {
		max-width: 496px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.home-page__text-container {
			h1 {
				font-size: 3rem;
				line-height: 3.5rem;
				letter-spacing: -0.2%;
			}
		}
		.home-page__categories {
			flex-direction: row;
			flex-wrap: wrap;
			.categories__category-card {
				max-width: 40%;
				align-self: stretch; //stretch elements to take up the same height
				border-radius: 1.5rem;
				h2 {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
			}
		}
	}
}

//================ desktops ======================
@media screen and (min-width: 1025px) {
	#home-page {
		max-width: 100%;
		flex-direction: row;
		align-items: center;
		min-height: 70%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		gap: 6rem;
		margin: 0 auto;
		padding: 0 10rem;
		.home-page__text-container {
			width: 45%;
			align-self: flex-start;
		}
		.home-page__categories {
			max-width: 50%;
			gap: 2rem;
			.categories__category-card {
				p {
					font-size: 1rem;
					line-height: 1.5rem;
				}
			}
		}
	}
}
